.background-img {

    background-size: cover;
    background: url("../images/creioane.jpg") no-repeat;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 50vh;
    width: 100%;

}
.welcome-message{
    font-family: monospace;
    color: crimson;
    font-weight:800;
    font-size:30px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    z-index: -1;
}
.img-links {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.profile-img {
    border-radius: 50%;
    height: 25vh;
    border: #90ac58 1px;
    margin-top: 30px;
    position: relative;
    z-index: -1;


}
.link-icons {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    height: 15vh;
    position: relative;
    z-index: -1;
}



/*@media (min-width: 992px) {*/
/*    #hero {*/
/*        padding-left: 160px;*/
/*    }*/
/*}*/

/*#hero:before {*/
/*    content: "";*/
/*    background: rgba(255, 255, 255, 0.8);*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*#hero h1 {*/
/*    margin: 0;*/
/*    font-size: 64px;*/
/*    font-weight: 700;*/
/*    line-height: 56px;*/
/*    color: #45505b;*/
/*}*/

/*#hero p {*/
/*    color: #45505b;*/
/*    margin: 15px 0 0 0;*/
/*    font-size: 26px;*/
/*    font-family: "Poppins", sans-serif;*/
/*}*/

/*#hero p span {*/
/*    color: #0563bb;*/
/*    letter-spacing: 1px;*/
/*}*/
/*@media (max-width: 992px) {*/
/*    #hero {*/
/*        text-align: center;*/
/*    }*/
/*    #hero h1 {*/
/*        font-size: 32px;*/
/*        line-height: 36px;*/
/*    }*/
/*    #hero p {*/
/*        margin-top: 10px;*/
/*        font-size: 20px;*/
/*        line-height: 24px;*/
/*    }*/
/*}*/