.background-creioane{

}
.background-projects{
    display: flex;
    justify-content: center;
    height:90vh;
    width: 100%;
    background-image: url("../images/creioane.jpg" );
    background-size: contain;
    color: #bb052fe0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}