@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
.home, .projects {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

/*About style*/
.about {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
    p{
        font-size: medium;
        margin: 0 5rem;
    }
/*Home style*/

.profile-img {
    border-radius: 50%;
    height: 50vh;
    border: #90ac58 1px;
    margin-top: 50px;

 }
.link-icons {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
}

