@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
.home, .projects {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

/*About style*/
.about {
    font-family: monospace;
    min-height: 100vh;
    color: #232d36;
    background-color: #fde311;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    /*height: 60vh;*/
}
.typical p{
    font-size: 2rem;
    font-family: monospace;

}

.story-description p{
    padding: 6vh;
    font-size: 1rem;
    font-family: monospace;
    margin: 0 5rem;
    color: #232d36;
    letter-spacing: 1px;
}


/*Home style*/

.profile-img {
    border-radius: 50%;
    height: 50vh;
    border: #90ac58 1px;
    margin-top: 50px;

 }
.link-icons {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
}

